---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }} / {{ site.tagline }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.keywords }}">
	{% include head.html %}
</head>
<body>
	<main class="content">
		{% include header.html %}
		<section class="intro">
			<div class="container">
				<h2>About me.</h2>
				<p>{{ site.description }}</p>
			</div>
		</section>
		<section class="projects">
			<div class="container">
				<h2>Projects I have worked on.</h2>
				<ul class="projects-list">
					{% for item in site.categories.projects reversed %}
						<li>
							<a href="{{ item.url | prepend: site.baseurl }}">
								<div class="img-wrapper">
									<img src="{{ item.project.logo | prepend: site.baseurl }}" alt="{{ item.project.title }}" />
								</div>
								<span class="h2">{{ item.project.type }}</span>
								<h3>{{ item.project.title }}</h3>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>
		<section class="skills">
			<div class="container">
				<h2>Skills</h2>
				<div class="skills-list">
					<div class="skills-box">
						<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" width="100" height="100"/>
							<p class="skills-text">HTML5</p>
					</div>
					<div class="skills-box">
						<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="100" height="100"/>
							<p class="skills-text">CSS3</p>
					</div>
					<div class="skills-box">
						<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" width="100" height="100"/>
							<p class="skills-text">JavaScript</p>
					</div>
					<div class="skills-box">
						<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" alt="python" width="100" height="100"/>
							<p class="skills-text">Python</p>
					</div>
					<div class="skills-box">
						<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/express/express-original-wordmark.svg" alt="express" width="100" height="100"/>
							<p class="skills-text">Express</p>
					</div>
					<div class="skills-box">
						<img src="https://www.vectorlogo.zone/logos/pocoo_flask/pocoo_flask-icon.svg" alt="flask" width="100" height="100"/>
							<p class="skills-text">Flask</p>
					</div>
					<div class="skills-box">
						<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg" alt="react" width="100" height="100"/>
							<p class="skills-text">React</p>
					</div>
					<div class="skills-box">
						<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/redux/redux-original.svg" alt="redux" width="100" height="100"/>
							<p class="skills-text">Redux</p>
					</div>
					<div class="skills-box">
						<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg" alt="nodejs" width="100" height="100"/>
							<p class="skills-text">NodeJS</p>
					</div>
					<div class="skills-box">
						<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original-wordmark.svg" alt="postgresql" width="100" height="100"/>
							<p class="skills-text">PostgreSQL</p>
					</div>
					<div class="skills-box">
						<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/docker/docker-original-wordmark.svg" alt="docker" width="100" height="100"/>
							<p class="skills-text">Docker</p>
					</div>
					<div class="skills-box">
						<img src="https://www.vectorlogo.zone/logos/heroku/heroku-icon.svg" alt="heroku" width="100" height="100"/>
							<p class="skills-text">Heroku</p>
					</div>
					<div class="skills-box">
						<img src="https://www.vectorlogo.zone/logos/mochajs/mochajs-icon.svg" alt="mocha" width="100" height="100"/>
							<p class="skills-text">Mocha</p>
					</div>
					<div class="skills-box">
						<img src="https://www.vectorlogo.zone/logos/getpostman/getpostman-icon.svg" alt="postman" width="100" height="100"/>
							<p class="skills-text">Postman</p>
					</div>

				</div>
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/home.js" | prepend: site.baseurl }}"></script>
</body>
</html>
